@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body 
{
    background-color: #a0e9a0;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    margin: 2%;
    font-size: medium;
}

.main
{
    margin: auto;
}

h1
{
    color:#28850b;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

h1
{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

li
{
    font-size: 20px;
    font-weight: bold;
}

h5 
{
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#espacio
{
    height: 150px;
}

#tarjeta
{
    background-color: #ffffff;
    border-radius: 5%;
    height: 400px;
    width: 90%;
    /*border-color: #28850b;*/
    border-width: 50px !important;

}

#tarjeta h1
{
    margin-top: 25px;
}
.carousel-dark .carousel-caption 
{
    color: #000000;
    font-size: 25px;
    margin-bottom:0;
}

.img
{
    height: 300px;
}

.logo
{
    margin-left:24%;
    width: 500px;
    height: 500px;
    border-radius: 250px;
    margin-top: 150px;
}

.formulario
{
    max-width: 800px;
    margin: 50px auto;
    position: relative;
  
}

.title
{
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 4em;
    font-weight: bold;
    line-height: 48px;
    padding-bottom: 48px;
    background: #2cd41d;
    
    background: -moz-linear-gradient(left,#2cd41d  0%,#28850b 100%) !important;
    background: -webkit-linear-gradient(left,#2cd41d  0%,#28850b 100%) !important;
    background: linear-gradient(to right,#2cd41d  0%,#28850b 100%) !important;

    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
  
.contact-form .form-field 
{
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text 
{
    display: block;
    width: 100%;
    height: 100px;
    border-width: 0 0 2px 0;
    border-color: #2cd41d;
    line-height: 26px;
    font-size: 30px;
    font-weight: 200;
}

.contact-form .input-text:focus 
{
    outline: none;
}
.contact-form .submit-btn 
{
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg,#2cd41d ,#28850b );
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 8px 16px;
    border: none;
    width:200px;
    height: 75px;
    cursor: pointer;
}

.mostrar{
    margin-top: 0px;
}
.navbar{
    margin:0 8px;
    margin-top: 0px;
    margin-right: 8px;
    margin-bottom: 0px;
    margin-left: 8px;

}
.navbar img{
    width:80px;
    height:80px;
}
.navbar-light {
	color: rgb(94, 92, 92);
	font-size: large;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
}
.nav-item{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 17px;
    letter-spacing: .1em;
    width: max-content; /* Para que quepa todo el contenido en una linea*/
}
/* FORMULARIO DE CONTACTO*/
.row button{
    background-color: #ffffff !important;
    color: rgb(7, 7, 7) !important;
    border-color:#b3fcac;
} /* Cambiar el color del boton de envio */
form{
    margin-top: 30px !important;
    border: 1px solid #fdfdfd;
} 
#formulario{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: justify;
}
.form-label{
    margin-top: 1%;
    font-size: x-large;
}
#boton{
    margin-top: 5%;
    margin-bottom: 5%;
}




/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .sml{
        margin-left: auto; 
        margin-right: auto;
    } /* Cambio en el logo del navbar para mejor efecto visual de este */
    .nav-item{
        width: 100%;
    }
    h4{
        font-size: large !important;
    }
}

/* Small devices (landscape phones, entre 576px y 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .sml{
        margin-left: auto; 
        margin-right: auto;
    }
    #mapa{
        display: inline-block;
    }
}
